@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.bg-myRed{
    background-color: #364547;
    /*993100, #501f00;, #3A3103;*/
}

.LogoName1{
    /*font-family: 'Praise', cursive;*/
    font-family: 'Lobster', cursive;
    font-size: x-large;
}

#navbar #dropdownHeader .row:nth-child(1){
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

#navbar  #dropdownHeader .row:nth-child(2){
    display: flex;
    font-size: 1rem;
    justify-content: center;
}

.iconUser{
    color: #364547;
    display: flex;
    justify-content: center;
}